/* header */
.ds-header { 
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 70px;
  background-color: #FFF; 
  z-index: 5;
}

/*section */


/*footer */
.ds-footer {
  bottom: 0;
  height: 250px;
  width: 100%;
  background-color: #000; 
  z-index: 5;
}