/* header */
.ds-header { 
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 70px;
  background-color: #FFF; 
  z-index: 5;
}

/*section */
h2 {
  display: inline-block; 
  font-size: 14px;
  font-weight: 700;
  /* border-bottom: 3px solid #F26464; */
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  font-weight: 700;
}


img {
  max-width: 70%;
  height: auto;
}

/*footer */
.ds-footer {
  bottom: 0;
  height: 250px;
  width: 100%;
  background-color: #000; 
  z-index: 5;
}