/* header */
.ds-header a img {
  width: 60px;
  height: auto;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 1.5rem;
}

/* .navbar a:hover {
  background: #ddd;
  color: black;
} */

.ds-logo-name {
  font-size: 24px;
}

body {
  position: relative; 
}

/*section N.B: EVYERHTING BELOW HERE IS TEMP*/
h2 {
  display: inline-block; 
  font-size: 14px;
  font-weight: 700;
  border-bottom: 3px solid #000000;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  font-weight: 700;
}

img {
  width: 70%;
}

footer 
.ds-footer {
  bottom: 0;
  height: 250px;
  width: 100%;
  background-color: #000; 
  z-index: 5;
}