.ds-header a img {
  width: 60px;
  height: auto;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 1.5rem;
}

.ds-logo-name {
  font-size: 24px;
}

body {
  position: relative; 
}

.profilephoto {
  width: 65%;
  height: auto;
}

.d-icons a{
  color: #212529!important;
}

ion-icon {
  font-size: 40px;
}

.ds-footer {
  /* bottom: 0;
  height: 250px;
  width: 100%;
  background-color: #000;  */
  z-index: 5;
}