.ds-header a img {
  width: 60px;
  height: auto;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 1.5rem;
}

.ds-logo-name {
  font-size: 24px;
}

body {
  position: relative; 
}

@media (min-width: 1500px) {
  .profilephoto {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 1199.98px) {
  .profilephoto {
    width: 100%;
    height: auto;
  }
}

.d-icons a{
  color: #212529!important;
}

ion-icon {
  font-size: 40px;
}

#ds-about-section a:hover {
  color: #fff!important;
}

#ds-about-section, #ds-skills-section {
  padding: 90px 20px 0px 20px;
}

.ds-skills-client {
  list-style: none;
}

.ds-footer {
  /* bottom: 0;
  height: 250px;
  width: 100%;
  background-color: #000;  */
  z-index: 5;
}